:root {
    --blue: rgb(44, 81, 141);
    --white: #fff;
    --bg-yellow:  rgb(247, 243, 212);
}

.calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
  font-family: 'Calistoga', 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: 0;
  background-color: var(--bg-yellow)
}

#navbar {
  background-color: var(--blue);
  position: fixed;
  top: 0px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  align-self: stretch;
}

ul {
  height: 30px;
  margin: 0 auto;
  padding: 10px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlist {
  width: 100px;
  font-size: 16px;
  height: 20px;
  padding: 8px;
  list-style: none;
  text-align: center;
  align-items: center;
}

.navlink {
	color: white;
  position: relative;
  text-decoration: none;
}

.navlink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;

}

.navlink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  }

.navtitle {
  padding-left: 10px;
  width: 400px;
  font-size: 28px;
  flex-grow: 1;
  list-style: none;
  text-decoration: none;
  color: white;
}

.hero {
  /* padding-bottom: 30px; */
  height: 80vh;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-container {
  margin-top: 50px;
  width: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: space-between;
}

#hero-statement {
  padding: 10px;
  /* border: 1px solid white; */
  width: 400px;
  display: flex;
  flex-direction: column;
}

.hero-title,
.hero-text {
  color: white;
}

.hero-title {
  font-family: 'Calistoga', 'Times New Roman', Times, serif;
  font-size: 44px;
}

.spotlight {
  /* color: yellow; */
  background: -webkit-linear-gradient(yellow, white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  font-size: 18px;
}


.social-icons {
  background: white;
  color: var(--blue);
  padding-left: 40px;
  height: 8vh;
  width: 100%;
  display: flex;
  /* border: 2px solid white; */
  text-align: center;
  align-items: center;
  gap: 10px;
}

.fa-brands {
  /* border: 2px solid red; */
  padding: 5px;
  color: var(--blue);
  font-size: 40px;
  transition: font-size .3s;
}

.fa-brands:hover {
  color: rgb(237, 225, 132);
  font-size: 46px;
}

.center-text {
  text-align: center;
  font-size: 14px;
  /* border: 1px solid white; */
}

.clients-btn {
  color: var(--blue);
  background-color: var(--bg-yellow);
  font-family: 'Calistoga', 'Times New Roman', Times, serif;
  font-size: 20px;
  /* border-radius: 10px 10px; */
  padding: 10px;
  transition: background-color .5s;
    
}

.clients-btn:hover {
  background-color: rgb(237, 225, 132);
}

.hero-picture {
  width: 600px;
  /* border: 1px solid white; */
  box-shadow: 5px 5px 10px black;
}

#recent-reviews {
  height: auto;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.description {
  color: var(--blue);
  padding-top: 30px;
  width: 70%;
  font-family: 'Calistoga', sans-serif;
  font-size: 24px;
  line-height: 1.6em;
  text-align: center;
}

.description-two {
  color: var(--blue);
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  text-indent: 20px;
}

.reviews-title,
.netgalley-title,
.articles-section-title {
  font-family: 'Abril Fatface', 'Calistoga';
  color: var(--blue);
  font-size: 42px;
}

.review-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;

}

.review-mini {
  width: 500px;
  transition: opacity .3s;
  transition-timing-function: ease-in-out;
}

.review-mini:hover {
  opacity: 80%;
}

#netgalley {
  background-color: var(--white);
  color: var(--blue);
  height: auto;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.netgalley-link:link,
.netgalley-link:visited {
  color: var(--blue);
  text-decoration: underline;
}

.netgalley-link:hover {
  color: maroon;
}

.netgalley-image,
.article-img {
  box-shadow: 5px 2px 15px grey;
}

.netgalley-container {
  display: flex;
  max-width: 70%;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.netgalley-text,
.article-text {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 300;
  text-indent: 123px;
  line-height: 1.6em;
}

.banner {
  opacity: 20%;
  position:fixed;
  float: left;
  z-index: -1;
}

#articles {
  height: auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img {
  width: 255px;
}

.article-title {
  color: var(--blue);
  font-size: 32px;
}

.article-by {
  color: var(--blue);
  font-size: 18px;
}

.article-container {
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.article-text {
  color: var(--blue);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* truncate to 4 lines */
  -webkit-line-clamp: 9;
}
